/* ---VARIABLES---------------------------------------------- */
:root{
    /* --name: value */
    --bg-color: #fff;
    --color-1: #fafafa;
    --main-text-color: #000;
    --main-font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    --main-font-weight: 400;
    --main-font-size: 16px;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: var(--bg-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
    line-height: 1;
}
.btn{
    display: inline-block;
    padding: 12px 24px;
    letter-spacing: 0.5px;
    font-weight: 700;
    background-color: #FF7500;
    border-radius: 4px;
    border: none; 
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.line{
    width: 80px;
    height: 3px;
    background-color: #FF7500;
    margin: 0px 0px 40px 0px;
}
.text-bold{
    font-weight: 700;
    color: #FF7500;
}
/* ---CONTAINER---------------------------------------------- */
.container {
    max-width: 1100px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
/* ---HEADER---------------------------------------------- */

.header {
    width: 100%;
    height: 96px;
}
.header__cap {
    height: 5px;
    margin: 0px;
    background-color:#FF7500;
    border: none;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px;
}
.header__logo{
    transition: all 0.2s ease-in-out;
}
.header__logo:hover{
    opacity: 0.8;
}
.header__logo:active{
    opacity: 0.6;
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.header__nav-item {
    position: relative;
}
.header__nav-item:not(:last-child){
    margin: 0px 32px 0px 0px;
}
.header__nav-item.active::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #FF7500;
    position: absolute;
    left: 0;
    bottom: -4px;
}
.header__nav-link {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: calc(15 / 13 * 100%);
    color: var(--main-text-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.header__nav-link:hover{
    color: #FF7500;
    opacity: 0.8;
}
.header__nav-link:active{
    color: #FF7500;
    opacity: 0.6;
}
.header__nav-btn{
    transition: all 0.2s ease-in-out;
}
.header__nav-btn:hover{
    opacity: 0.8;
}
.header__nav-btn:active{
    opacity: 0.6;
}
.fa-bars {
    display: block;
}
.fa-bars:hover{
    opacity: 0.8;
}
.fa-bars:active{
    opacity: 0.6;
}
.header__menu{
    display: none;
    font-size: 30px;

}
@media (max-width: 1024px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__nav{
        display: none;
    }

    .header__menu{
        display: block;
    }
}
@media (max-width: 375px) {
    .footer__logo-img{
        width: 200px;
    }
    .hero-content__heading {
        font-size: 27px;
        line-height: calc(48 / 36 * 100%);
    }
}
@media (max-width: 375px) {
    .header__logo-img{
        width: 200px;
    }
    
}
/* MEDIA QUERY 2560px 1440px 1024px 768px 425px 375px 320px*/

/* ---HERO Content-------------------------------------- */
.hero-content {
    width: 100%;
    min-height: 488px;
    background-color: #252420;
    display: flex;
    align-items: center;
}
.hero-content__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 488px;
}
.hero-content__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(48 / 40 * 100%);
    letter-spacing: 0.5px;
    color: #fff;
    margin: 0px 0px 24px 0px;
}
.hero-content__text {
    max-width: 387px;
    margin: 0px 0px 32px 0px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.5px;
    color: #fff;
}
.hero-content__img {
    position: relative;
    top: 40px;
    filter: drop-shadow(24px 24px 0px rgba(255, 117, 0, 0.6));
}
.hero-content__btn{
    transition: all 0.2s ease-in-out;
}
.hero-content__btn:hover{
    opacity: 0.8;
}
.hero-content__btn:active{
    opacity: 0.6;
}
@media (max-width: 1024px) {
    .hero-content__img{
        display: none;
    }

}
@media (max-width: 768px) {
    .hero-content__heading {
        font-size: 36px;
        line-height: calc(48 / 36 * 100%);
    }
    .hero-content__text {
        font-size: 14px;
        line-height: calc(24 / 14 * 100%);
    }
}
@media (max-width: 375px) {
    .hero-content__heading {
        font-size: 27px;
        line-height: calc(48 / 36 * 100%);
    }
}
/* MEDIA QUERY 2560px 1440px 1024px 768px 425px 375px 320px*/

/* ---Features-------------------------------------- */
.features {
    width: 100%;
    padding: 210px 0px;
}
.features__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features__row:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features__line {
    margin: 0px 0px 24px 0px;
}
.features__title {
    font-weight: 700;
    font-size: 72px;
    line-height: calc(86 / 72 * 100%);
    letter-spacing: 0.5px;
    color: #000;
    margin: 0px 0px 72px 0px;
}
.features__column {
    max-width: 340px;
    flex: 1 1 33.333%;
}
.features__item-icon {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 32px 0px;
}
.features__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24 * 100%);
    letter-spacing: 0.5px;
    margin: 0px 0px 12px 0px;
}
.features__item-text {
    max-width: 314px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.5px;
}
@media (max-width: 1024px) {
    .features__column {
        flex: 1 1 50%;
    }
    .features__column:nth-child(1){
        margin: 0px 0px 40px 0px;
    }
    
}
@media (max-width: 768px) {
    .features {
        padding: 90px 0px;
    }
    .features__title {
        font-size: 45px;
        line-height: calc(86 / 45 * 100%);
    }
    .features__column {
        text-align: center;
        max-width: 100%;
        flex: 1 1 100%;
    }
    .features__column:not(:last-child){
        margin: 0px 0px 40px 0px;
    }
    .features__item-icon{
        margin: 0px auto 32px auto;
    }
    .features__item-img{
        margin: 0px auto;
    }
    .features__item-text {
        max-width: 100%;
    }
}
@media (max-width: 425px){
    .features__title {
        font-size: 36px;
        line-height: calc(86 / 50 * 100%);
    }
}
@media (max-width: 375px){
    .features__title {
        font-size: 30px;
        line-height: calc(86 / 45 * 100%);
    }
}

/* MEDIA QUERY 2560px 1440px 1024px 768px 425px 375px 320px*/

/* Sale Section */
.sale {
    padding: 85px 0px 160px 0px;
}
.sale__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252420;
    border-radius: 12px;
    padding: 64px;
}
.sale__column *:not(:last-child) {
    margin: 0px 0px 24px 0px;
}
.sale__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(48 / 40 * 100%);
    letter-spacing: 0.8px;
    color: #fff;

}
.sale__text {
    max-width: 440px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.5px;
    color: #fff;
}
.sale__img {
    position: relative;
    top: -64px;
}
.sale__btn{
    transition: all 0.2s ease-in-out;
}
.sale__btn:hover{
    opacity: 0.8;
}
.sale__btn:active{
    opacity: 0.6;
}
@media (max-width: 1024px) {
    .sale__img {
        display: none;
    }
}
@media (max-width: 768px) {
    .sale {
        padding: 0px 0px 80px 0px;
    }
    .sale__row {
        padding: 34px;
    }
    .sale__title {
        font-size: 32px;
        line-height: calc(48 / 32 * 100%);
    }
    .sale__text {
        font-size: 14px;
        line-height: calc(24 / 14 * 100%);
    }
}
@media (max-width: 425px){
    .sale__title {
        font-size: 23px;
        line-height: calc(48 / 23 * 100%);
    }
    .sale__text {
        font-size: 12px;
        line-height: calc(24 / 14 * 100%);
    }
}
@media (max-width: 425px){
    .sale__title {
        font-size: 20px;
        line-height: calc(48 / 29 * 100%);
    }
}

/* Footer section */
.footer {
    min-height: 507px;
    background-color: #F8F8F8;
    padding: 56px 0px 0px 0px;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0px 0px 40px 0px;
}
.footer__logo{
    transition: all 0.2s ease-in-out;
}
.footer__logo:hover{
    opacity: 0.8;
}
.footer__logo:active{
    opacity: 0.6;
}
.footer__socials-list {
    display: flex;
}
.footer__socials-item:not(:last-child){
    margin: 0px 16px 0px 0px;
}
.footer__socials-link {
    font-size: 24px;
    color: #252420;
    transition: all 0.3s ease-in-out;
}
.footer__socials-link{
    transition: all 0.2s ease-in-out;
}
.footer__socials-link:hover{
    color: #FF7500;
    opacity: 0.8;
}
.footer__socials-link:active{
    color: #FF7500;
    opacity: 0.6;
}
.footer_hr{
    border: none;
    width: 100%;
    height: 2px;
    background: rgba(37, 36, 32, 0.5);
    margin: 0px 0px 64px 0px;
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__column {
    max-width: 224px;
    flex: 0 1 25%;
}
.footer__list *:not(:last-child){
    margin: 0px 0px 16px 0px;
}
.footer__link {
    line-height: calc(18 / 16 * 100%);
    color: #252420;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.footer__link{
    transition: all 0.2s ease-in-out;
}
.footer__link:hover{
    color: #FF7500;
    opacity: 0.8;
}
.footer__link:active{
    opacity: 0.6;
}
@media (max-width: 1024px) {
    .footer__column {
        flex: 1 1 50%;
    }
}
@media (max-width: 768px) {
    .footer__column{
        flex: 1 1 45%;
        margin: 0px 0px 30px 0px;
    }
}
@media (max-width: 425px) {
    .footer__top {
        flex-direction: column;
        justify-content: center;
    }
    .footer__logo{
        margin: 0px 0px 20px 0px;
    }
    .footer__row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__column {
        text-align: center;
        flex: 1 1 100%;
        margin: 0px 0px 30px 0px;
    }
}
@media (max-width: 375px) {
    .footer__logo-img{
        width: 200px;
    }
    
}